<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="d-flex row">
        <div class="d-flex my-2">
            <div class="input-group flex-fill me-4">
                <span class="input-group-text" id="basic-addon1">Filtro:</span>
                <input [(ngModel)]="filterList" type="text" class="form-control" placeholder="Filtrar por tema e local" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div>
                <a href="#" class="d-flex btn btn-outline-primary">
                    <i class="fa fa-plus-circle my-1"></i>
                    <b class="mx-1 d-none d-sm-block">Novo</b>

                </a>
            </div>
        </div>

    </div>
    <table class="table table-striped smallImg table-hover">
        <thead class="table-dark">
            <tr>
                <th class="d-none d-md-table-cell">
                    <button type="button" (click)="displayImages()" class="btn btn-outline-light btn-sm">
              <i class="{{!showImages ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
              {{!showImages ? 'Exibir' : 'Ocultar'}}
            </button>
                </th>
                <th>#</th>
                <th>Tema</th>
                <th class="d-none d-md-table-cell">Local</th>
                <th>Data</th>
                <th class="d-none d-md-table-cell">Qtd Pessoas</th>
                <th class="d-none d-md-table-cell">Lote</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody *ngIf="eventos && eventos.length">
            <tr *ngFor="let evento of eventFilters" (click)="detalheEvento(evento.id)" class="cursor">
                <td class="d-none d-md-table-cell">
                    <img [collapse]="!showImages" [isAnimated]="true" src="/assets/images/{{evento.imagemUrl}}" alt="{{evento.imagemUrl}}">

                </td>
                <td>{{evento.id}}</td>
                <td>{{evento.tema}}</td>
                <td class="d-none d-md-table-cell">{{evento.local}}</td>
                <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
                <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
                <td class="d-none d-md-table-cell">{{evento.lotes[0].nome}}</td>
                <td>
                    <button type="button" class="btn btn-outline-danger btn-lg" tooltip="Excluir" (click)="openModal(template)">
                <i class="fa fa-trash"></i>
              </button></td>
            </tr>
        </tbody>
        <tfoot *ngIf="!eventos.length">
            <tr>
                <td colspan="8">
                    <h5 class="text-center">Nenhum evento encontrado</h5>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!-- Modal -->
<ng-template #template>
    <div class="modal-body text-center">
        <p>Tem certeza que deseja excluir o evento?</p>
        <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
</ng-template>
